In [1]:
# import joblib
# import pandas as pd
# import os

# class DataReader:
#     # def __init__(self, data_path):
#         # self.data_path = data_path
#     @staticmethod
#     def read(path):
#         return joblib.load(data_path)
    
#     @staticmethod
#     def read_folder(path):
#         for root,dirs, files in os.walk(path):
#             for file in files:
#                 if len(file.split('.')) == 1:
#                     df =  joblib.load(os.path.join(root, file))
#                     df.to_csv(os.path.join(root,file + '.csv'))

In [2]:
# data = '../../data/factor_data/calendar'
# # os.path.abspath(data)
# DataReader.read_folder(data)

In [2]:
import duckdb
import pandas as pd
import os
from DuckDataModifier import DataSaver

In [6]:
# reader = DataReader()
# df = reader.get_symbol_industry('000001.SZ')
# df = pd.DataFrame(df)
# print(df)

0    银行
Name: Lv1, dtype: object

In [20]:
df = pd.read_csv('E:\量化\QuantAlpha-2024\data\dkline_sp_factor\close.csv')

In [21]:
col = df.columns
col_modify = ['A_'+i.replace('.', '_') for i in col[1:]]
col_modify.insert(0,col[0])
df.columns = col_modify
df

,Date,A_000001_SZ,A_000002_SZ,A_000004_SZ,A_000005_SZ,A_000006_SZ,A_000007_SZ,A_000008_SZ,A_000009_SZ,A_000010_SZ,...,A_688787_SH,A_688788_SH,A_688789_SH,A_688793_SH,A_688798_SH,A_688799_SH,A_688800_SH,A_688819_SH,A_688981_SH,A_689009_SH
0,2015-01-05,16.02,14.91,15.69,4.10,7.08,14.52,21.70,12.95,7.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-06,15.78,14.36,16.46,4.10,6.85,14.27,21.83,12.95,7.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-07,15.48,14.23,16.41,4.10,6.86,14.59,22.33,13.33,7.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-08,14.96,13.59,16.92,4.10,6.78,14.58,23.04,13.35,7.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-09,15.08,13.45,16.43,4.10,6.70,14.50,23.17,12.98,7.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070,2023-07-10,11.20,13.91,15.28,1.26,4.43,4.86,2.40,11.85,2.30,...,91.85,40.07,84.25,55.00,68.80,42.80,58.64,37.39,49.72,35.35
2071,2023-07-11,11.21,13.86,16.81,1.24,4.42,5.10,2.35,11.83,2.29,...,92.15,40.89,87.40,54.40,70.92,42.96,59.60,38.00,50.30,35.68
2072,2023-07-12,11.24,13.68,15.78,1.18,4.35,5.22,2.32,11.80,2.26,...,88.12,39.98,88.26,38.25,70.39,42.02,59.15,38.65,48.38,34.87
2073,2023-07-13,11.43,13.80,17.36,1.19,4.37,5.19,2.33,11.81,2.29,...,89.20,40.35,86.97,37.20,70.26,42.00,57.54,39.17,49.20,35.05
2074,2023-07-14,11.46,13.78,19.10,1.21,4.39,5.14,2.35,11.67,2.30,...,90.85,40.53,85.71,36.46,69.18,41.70,55.36,37.61,49.46,34.61

Index(['Date', '000001.SZ', '000002.SZ', '000004.SZ', '000005.SZ', '000006.SZ',
       '000007.SZ', '000008.SZ', '000009.SZ', '000010.SZ',
       ...
       '688787.SH', '688788.SH', '688789.SH', '688793.SH', '688798.SH',
       '688799.SH', '688800.SH', '688819.SH', '688981.SH', '689009.SH'],
      dtype='object', length=5160)